@import 'styles/mixins'
@import 'styles/reset'
@import 'styles/variables'

@import 'styles/typography'
@import 'styles/buttons'

@font-face
  font-family: 'Gishella'
  src: url('font/GishellaMorely.woff') format('woff'), url('font/GishellaMorely.ttf') format('truetype')

body
  font-family: Helvetica, Arial,  sans-serif
  width: 100vw
  font-size: 16px
  overflow-x: hidden
  background-color: $primary
  -webkit-font-smoothing: antialiased

.header
  text-align: center
  font-family: 'Gishella', Helvetica, Tahoma, sans-serif

  &__plants
    +absolute
    z-index: -1

    &--left
      left: -150px
      top: -86px
      transform: rotate(-45deg)

    &--right
      right: -165px
      top: -73px
      transform: rotate(45deg)

  &__top
    font-size: 32px
    margin-top: 16px
    margin-bottom: 16px

  &__center
    +flexbox
    +align-items(center)
    +justify-content(center)
  
  &__title
    font-size: 64px

    &--right
      margin-right: 24px
  
  &__img
    margin-right: 32px
    margin-left: 32px
  
  +breakpoint(tablet)
    &__top
      margin-top: 32px
      font-size: 24px

    &__title
      font-size: 40px
    
    &__plants
      width: 400px

      &--left
        left: -137px
        top: -66px
        transform: rotate(-54deg)
      
      &--right
        top: -52px
        transform: rotate(54deg)
  
  +breakpoint(tablet)
    &__center
      +flex-direction(column)
    
    &__title--right
      margin-right: 0

    &__img
      margin: 16px 0

.image-circle
  display: inline-block
  width: 300px
  height: 300px
  border-radius: 50%
  border: $border-style
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  box-shadow: 0px 1px 13px 0px #6e6e6e

  &--sanka
    background-image: url('img/sanka.jpg')
  
  +breakpoint(tablet)
    width: 200px
    height: 200px

.intro-text
  width: 66%
  margin-right: auto
  margin-left: auto
  padding: 32px
  border: $border-style
  font-size: 18px
  background-color: $light

  +breakpoint(tablet)
    width: 85%

  +breakpoint(phone)
    width: auto
    padding: 16px
    margin-right: 8px
    margin-left: 8px

.spice-content
  +relative
  +flexbox
  +flex-direction(column)
  +justify-content(center)
  width: 100%
  min-height: 40vw
  overflow-x: hidden

  &--left
    .spice-content__image
      right: -69px
      transform: rotate(-55deg)
    
    .spice-content__text
      padding-left: 10%

      &::after
        border-left: 0px

  &--right
    .spice-content__image
      left: -69px
      transform: rotate(55deg)

    .spice-content__text
      padding-right: 10%
      +align-self(flex-end)

      &::after
        border-right: 0px
  
  &__title
    text-align: center
    margin-bottom: 32px

  &__text
    +relative
    font-size: 18px
    width: 60%
    padding: 32px
    margin-bottom: 64px

    &::after
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      border: $border-style
      background-color: $light
      z-index: -1

  &__image
    width: 300px
    position: absolute
    z-index: -1
  
  +breakpoint(phone)
    &--left
      .spice-content__text
        padding-left: 16px

    &--right
      .spice-content__text
        padding-right: 16px
        +align-self(flex-start)

    &__text
      width: auto
      margin-right: 8px
      margin-left: 8px
      padding: 16px
      background-color: $light
      border: $border-style

      &::after
        display: none
    
    &__image
      z-index: 2
      opacity: .15

.spice-table
  +flexbox
  +justify-content(space-between)
  +flex-wrap(wrap)
  max-width: 500px

  &__head
    font-weight: 600

  &__cell
    width: 50%
    margin-bottom: 0
    padding: .5rem

.payment-steps
  list-style: decimal
  text-align: left
  margin-bottom: 32px
  margin-left: 20px
  line-height: 1.5

.payment-details
  +flexbox
  +justify-content(space-between)
  
  &__title
    display: block
    margin-bottom: 16px
  
  +breakpoint(phone)
    +flex-direction(column)

    &__contact
      margin-bottom: 32px

.payment
  +breakpoint(phone)
    &__button
      margin-bottom: 16px

.modal
  +fixed($top: 0, $right: 0, $bottom: 0, $left: 0)
  +justify-content(center)
  +align-items(flex-start)
  display: none
  background-color: #0000009e
  z-index: 10

  &__wrapper
    +flexbox
    +flex-direction(column)
    width: 60vw
    max-height: 85vh
    background-color: $light
    color: $black
    transform: translateY(-150%)
    transition: transform 1s .8s ease
    overflow: scroll
  
  &__close
    +align-self(flex-end)
    border: 1px solid $black
    border-radius: 50%
    padding: 4px
    cursor: pointer

    &:hover
      background-color: $black
      color: $light

  &.is-active
    display: flex

    .modal__wrapper
      transform: translateY(0)
      transition: transform 1s .8s ease
  
  +breakpoint(tablet)
    &__wrapper
      width: auto
      max-height: auto
      margin-top: 8px
      margin-bottom: 8px

.space-bottom-8
  margin-bottom: 8px

.space-bottom-16
  margin-bottom: 16px

.space-bottom-32
  margin-bottom: 32px

.space-bottom-64
  margin-bottom: 64px

  +breakpoint(tablet)
    margin-bottom: 32px

.footer
  display: block
  text-align: center
  font-size: 14px
  padding: 16px
  cursor: pointer
