@font-face
  font-family: 'Gishella'
  src: url('font/GishellaMorely.woff') format('woff'), url('font/GishellaMorely.ttf') format('truetype')

.header
  text-align: center

  &__title
    font-family: 'Gishella', Helvetica, Tahoma, sans-serif
